*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
  list-style: none;
    text-decoration: none;
}
body{
  background: #E9E7EC;
  overflow-x: hidden !important;
  background: #eee;
  scroll-behavior: auto;
}
/*************************navbar styling **********************/
.navbar{
    background-color: rgb(255, 254, 254);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
}
.navbar-brand{
    padding-left: 20px;
}

.nav-item{
    padding: 0px 10px 0px 10px;
    font-size: 20px;
    
}
.nav-item a{
  font-family: Playfair Display;
}
.nav-link{
    color: #000000;
}

.navbar-toggler-icon{
    z-index: 10;
}
.navbar2{
  height: 70px !important;
  
}
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
 position: absolute;
width: 231px;
min-height: 1349px;
left: 0px;
top: 147px;
background: #FFFFFF;
z-index: 1;
box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}
/*************************navbar styling **********************/


/********************** Sidebar Styles ********************/

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #3C444C;
  font-family: Playfair Display;
  position: relative;
}
.sidebar-nav li a::before {
  background-color: rgba(9, 116, 51, 1);
  position: absolute;
  content: '';
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 3px;
  z-index: -1;
}
.sidebar-nav li a:hover{
  color: #ffffff;
}

.sidebar-nav li a:hover::before {
  width: 100%;
}



.sidebar-nav li:nth-child(2){
  padding-top: 20px;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
  background: rgba(9, 116, 51, 1) !important;
}

.sidebar-nav>.sidebar-brand a {
  color: #FFFFFF !important;
  font-size: 30px;
  font-family: Playfair Display;
}
.fa-icon{
  margin-left: -10px !important;
  font-size: 13px;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #3436ac;
  background: none;
}
.sidebar-nav .sidebar-nav--dropdown{
  position: relative;  
}
.sidebar-nav .sidebar-nav--dropdown::before{
  position: absolute;
  top: 0;
  left: 50px;
  content: " ";
  width: 1px;
  height: 100%;
  background-color: rgba(209, 209, 209, 0.548);
}
.sidebar-nav > li:active >.sidebar-nav--dropdown, .sidebar-nav > li:hover >.sidebar-nav--dropdown{
  display: block !important;
  overflow: auto;
}
/********************** Sidebar Styles ********************/

/********************** body notes Styles starts ********************/

#body-div{
  width: calc(100% - 370px);
  margin: 114px 60px 0 310px;
  /* height: 100vh; */
  position: relative;
  /* z-index: -1; */
}
#body-div .card {
  /* min-height: 424px; */
  border-radius: 0 !important;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer !important;
  transition: transform 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);

}
#body-div .card:hover{
  transform: scale(1.06);
  transition: transform 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);
}

#body-div .card .card-inside {
  height: 100%;
  width: 100%;
}
#body-div .main{ 
  margin-bottom: 80px;
}



/* card styles */

.card {
  background-color: white;
  padding: 1rem;
  border: none;
  margin-bottom: 1.75rem;
  cursor: pointer;
}

.card__image--container {
  width: 100%;
  height: 100%;
  text-align: center;
}

.card__body {
  /* padding: 0.7rem 1rem; */
  font-size: 36px;
  text-align: center;
  color: #707070;
  transition: all 0.35s;
  margin-top: 40px;
  font-family: Playfair Display;
  padding-bottom: 30px;
}




/* footer starts here */
.footer-lp{
  background-color: black !important;
}
.footer-lp .footer-content{
  padding: 79.39px 0 44.61px 21.57px;
  position: relative;
}
.footer-lp .footer-content:before{
  position: absolute;
  content: " ";
  left: -2px;
  top: 69.39px;
  width: 2.16px;
  background: white;
  height: 190.55px;
}
.footer-lp .footer-content h2{
  font-family: Playfair Display;
  font-size: 24px;
  font-weight: 400;
  line-height: 15px;
  padding-left: 5px;
}
  .footer-lp .footer-content p{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: rgba(255, 255, 255, 1);
    padding-top: 22.31px;
  }
  .footer-lp .content-1{
    /* padding-right: 152.07px !important; */
  }
  .footer-lp .content-1 .list-content{
    float: left;
    padding-top: 22.31px;
  }
  .footer-lp .footer-content ul{
    padding-top: 22.31px !important;
  }
  .footer-lp .footer-content ul a{
    display: block;
    padding: 5px 20px;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 18px;
    color: white;
  }
  .footer-lp .content-3 ul a,  .footer-lp .content-4 ul a{
    padding-left: 10px !important;

  }
  .footer-lp .footer-content a:hover{
    /* color: rgba(1, 126, 116, 1); */
    text-decoration: underline;
  }
  .footer-lp .content-4:after{
    position: absolute;
    content: " ";
    left: 95%;
    top: 69.39px;
    width: 2.16px;
    background: white;
    height: 190.55px;
  }
  .footer-lp .last-footer2 p{
    font-family: Playfair Display;
  font-size: 16px;
  line-height: 18px;
  }
  .footer-lp .last-footer2{
    position: relative;
  }
  .footer-lp .last-footer2:before{
    position: absolute;
    content: " ";
    left: 8.3%;
    top: -10px;
    width: 80%;
    background: rgba(255, 255, 255, 0.527);
    height: 1.5px;
  }






/* footer ends here */


/********************** / body notes Styles ********************/

@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
@media(max-width:769px) {
 .navbar2{
   display: block !important;
   background-color: rgb(51, 51, 51) !important;
   box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
   height: 60px !important;
   background-color: ;
   width: 100vw;
   position: absolute;
   top: 70.33px;
   left: 0;
   z-index: 9;
   
 }
 
  .navbar2 h1{
  height: 100%;
  display: block;
  width: 230px;
  margin-left: auto;
  margin-right: 0;
  font-size: 18px;
  padding-left: 15px;
  line-height: 53.33px;
  color: #FFFFFF !important;
  font-size: 30px;
  font-family: Playfair Display;
}
#wrapper #sidebar-wrapper{
  top: 140px;
  transform: translateX(-250px);
  transition: transform 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);
}
#body-div{
  margin: 0 !important;
  width: 100vw;
  padding: 50px;
  margin-top: 150px !important;
}
#closebtn{
  display: none;
}
.toggler-side,  #closebtn{
  position: absolute;
  top: 80px;
  left: 15px;
  height: 100px;
  width: 100px;
  z-index: 999;
}
  .toggler-side .fa , #closebtn{
    font-size: 36px;
    color: rgba(255, 255, 255, 0.85) !important;
  }
  .card__body {
    font-size: 24px !important;
  }

}