.navbar{
    background-color: rgb(255, 254, 254);
}
.navbar-brand{
    padding-left: 20px;
}

.nav-item{
    padding: 0px 10px 0px 10px;
    font-size: 20px;
    
}
.nav-link{
    color: #000000;
}

.navbar-toggler-icon{
    z-index: 10;
}
body {
  overflow-x: hidden;
  background: #E5E5E5;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
 position: absolute;
width: 231px;
height: 929px;
left: 0px;
top: 114px;

background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 20%;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}


/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #3C444C;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #3CAC34;
  background: #E5E5E5;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #3C444C;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #3CAC34;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
