#logo img {
    height: 56px;
    margin: 43px;
}

.nav-list ul button {
    background-color: #0CA678 !important;
    border-radius: 0 !important;
}




.header_last {
    position: relative;
}

.header_last .card1 {
    height: 170px;
    background-color: rgb(255, 255, 255);
    /* border: 1px solid #70707069; */
    cursor: pointer;
    position: relative;
}

.header_last .card1::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 1.5px;
    height: 100px;
    background-color: #eeeeee;
}

.header_last .card-info {
    position: absolute;
    transform: translateY(-50%);
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.14);
}

.header_last .card1 img {
    height: 42px;
    /* margin: auto 0; */
    margin-top: 30px !important;
    transition: .5s;
    pointer-events: none;
}

.header_last .card1 .card1-content {
    margin-top: 38px;

}

.header_last .card1 a {
    font-family: Playfair Display;
    font-size: 24px;
    font-weight: 400;
    line-height: 18px;
    color: rgba(58, 170, 53, 1);
    /* margin-top: 28px !important; */
    transition: .5s;

}

.header_last .card1 p {
    font-family: Playfair Display;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: rgba(112, 112, 112, 1);
}

.header_last .card1:hover p {
    color: black;
}

.header_last .card1:hover a {
    color: rgb(22, 214, 12);
    transition: .5s;
}

.header_last .card1:hover img {
    animation: animate-img .8s ease;
    transition: .5s;
    color: black;
}

@keyframes animate-img {
    0% {
        transform: scale(0);
    }

    800% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1)
    }
}

.text-container .text-heading {
    margin-top: 160px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-family: Playfair Display;
}

.footer-lp {
    background-color: rgba(51, 51, 51, 1) !important;
}






@media(max-width: 426px) {
    #logo img {
        height: 35px;
        margin-top: 27.5px !important;
        margin-left: -10px !important;
        pointer-events: none;
    }

    .header_last .card-info.col-11 {
        transform: translateY(0);
        max-width: 100vw;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    }

    #logo img {
        height: 35px;
        margin-top: 27.5px !important;
        margin-left: -10px !important;
        pointer-events: none;
    }

    header {
        background-color: white;
    }

    #mainbox,
    #closebtn {
        top: 58px;
        right: 20px;
    }

    .header2 .navb {
        height: 90px;
        top: -90px;
        box-shadow: none;
        margin-top: 0 !important;
    }

    .common-section .main-heading {
        font-size: 28px;
    }

    .swiper-container {
        height: 90vw;
        padding: 0px !important;
    }

    .m-slider__item,
    .m-card {
        transform: scale(0.9);
        margin-top: 0px;
        /* padding:15px !important; */
    }

    .quotes {}

    .header2 {
        height: 40vh !important;
        margin-top: 90px;
    }

    .swiper-slide .content .title span {
        font-size: 28px !important;
    }

    #section2 .card_grp {
        margin-top: 520px !important;
    }

    .text-container .text-heading {
        margin-top: 6vh !important;
    }


}