*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
  body{
    background: #eee !important;
    overflow-x: hidden !important;
  }

  /* header starts here */
  .header_top{
    height: 30px;
    width: 100%;
    background: rgba(14, 15, 19, 1);
  }
  .header_admin{
    height: 30px;
    width: 250px;
    margin-left: auto;
    margin-right: 0;
  }
  .header_admin ul li {
    display: inline-block;
    height: 30px;
  }
.header_admin ul li a {
  line-height: 30px;
}
.header_admin ul li:hover{
  background-color: #0CA678;
}
.header2{
  height: 704px;
  width: 100%;
  background-image: url(../assets/home.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header2 .navb{
  width: 100%;
  height: 142px;
  background-color: #ffffff;
  margin-top: 32px;
  box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.25);
  display: inline-block;
  position: relative;
}
#logo{
  width: 309px;
}
#logo h1{
  font-family: Open Sans;
  font-size: 64px;
  margin-left: 34px;
  font-weight: 800;
  line-height: 142px;
  text-align: left;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #707070;
}
#logo h1 span{
  color:  #0CA678;
}
#logo h1:hover {
  color: #0CA678;
}
.navb .nav-list{
  margin-left: auto;
  margin-right: 0; 
  width: calc(100% - 250px);
  position: absolute;
  right: 0;
  top: 0;
}
.navb .nav-list ul {
  display: flex;
  justify-content: flex-end;
}
.navb .nav-list li{
  display: inline-block;
  font-family: Playfair Display;
  font-size: 24px;
  font-weight: 400;
  line-height: 142px;
}
 .nav-list li a:hover{
  color: #0CA678 !important;
}

.header_last {
  position: relative;
}
.header_last .card1 {
  height: 276px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #70707069;
  cursor: pointer;
}
.header_last  .card-info {
  position: absolute;
  top: -138px;
  box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.25);
}
.header_last .card1 img {
  height: 62px;
  margin: auto 0;
  transition: .5s;

}
.header_last .card1 .card1-content{
  margin-top: 38px;
}
.header_last .card1 .card1-content span{
  color:  #0CA678;
}
.header_last .card1 a {
  font-family: Playfair Display;
  font-size: 36px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(58, 170, 53, 1);
  /* margin-top: 28px !important; */
  transition: .5s;

}
.header_last .card1 p {
  font-family: Playfair Display;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(112, 112, 112, 1);
}
.header_last .card1:hover p {
  color: black;
}
.header_last .card1:hover a{
  color: rgb(22, 214, 12);
  transition: .5s;
}
.header_last .card1:hover img {
  animation: animate-img .8s ease;
  transition: .5s;
  color: black;
}
@keyframes animate-img{
  0%{
    transform: scale(0);
  }
  800%{
    transform: scale(1.5);
  }
  100%{
    transform: scale(1)
  }
}
.text-container .text-heading{
  margin-top: 160px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-family: Playfair Display;
}
/* section1 ends here */
/* section2 starts here */

#team{
  width: 100vw;
  min-height: 100vh;
  margin-top: 140px !important;

}
/* single card styling */
.card-title{
  margin-top: 20px;
  font-family: Playfair Display;
  font-size: 24px !important;
  line-height: 18px;
}
.card-text{
  margin-top: 20px;
  font-family: open sans-serif;
  font-size: 16px !important;
  color: rgba(112, 112, 112, 1);
  line-height: 24px;
}
  
.btn-primary:hover,
.btn-primary:focus {
    background-color:  #0CA678;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #0CA678;
    border-color: #0CA678;
    margin-top: 15px;
}

.section2 {
    padding: 60px 0;
}
.card-body ul{
  margin-top: 20px;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 0px 3px 15px  0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 3px 15px  0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 3px 15px  0px rgba(0, 0, 0, 0.15);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color:  #0CA678 !important;
}

.frontside .card .card-title,
.backside .card .card-title {
  color:  #0CA678 !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}





/* single card styling ends*/














/* section2 starts here */
/* footer starts here */
.footer-lp{
  background-color: black !important;
}
.footer-lp .footer-content{
  padding: 79.39px 0 44.61px 21.57px;
  position: relative;
}
.footer-lp .footer-content:before{
  position: absolute;
  content: " ";
  left: -2px;
  top: 69.39px;
  width: 2.16px;
  background: white;
  height: 190.55px;
}
.footer-lp .footer-content h2{
  font-family: Playfair Display;
  font-size: 24px;
  font-weight: 400;
  line-height: 15px;
  padding-left: 5px;
}
  .footer-lp .footer-content p{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: rgba(255, 255, 255, 1);
    padding-top: 22.31px;
  }
  .footer-lp .content-1{
    /* padding-right: 152.07px !important; */
  }
  .footer-lp .content-1 .list-content{
    float: left;
    padding-top: 22.31px;
  }
  .footer-lp .footer-content ul{
    padding-top: 22.31px !important;
  }
  .footer-lp .footer-content ul a{
    display: block;
    padding: 5px 20px;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 18px;
    color: white;
  }
  .footer-lp .content-3 ul a,  .footer-lp .content-4 ul a{
    padding-left: 10px !important;

  }
  .footer-lp .footer-content a:hover{
    /* color: rgba(1, 126, 116, 1); */
    text-decoration: underline;
  }
  .footer-lp .content-4:after{
    position: absolute;
    content: " ";
    left: 95%;
    top: 69.39px;
    width: 2.16px;
    background: white;
    height: 190.55px;
  }
  .footer-lp .last-footer2 p{
    font-family: Playfair Display;
  font-size: 16px;
  line-height: 18px;
  }
  .footer-lp .last-footer2{
    position: relative;
  }
  .footer-lp .last-footer2:before{
    position: absolute;
    content: " ";
    left: 8.3%;
    top: -10px;
    width: 80%;
    background: rgba(255, 255, 255, 0.527);
    height: 1.5px;
  }






/* footer ends here */

@media(max-width: 1025px){
  .navb .nav-list a{
    font-size: 15px;
  }
  .card1-content a {
    font-size: 30px !important;
  }
  .card1-content p{
    font-size: 12px !important;
  }
}

@media(max-width: 769px){

  #logo h1{
    font-size: 45px;
    margin-left: 10px;
  }
  .navb .nav-list{
    transform: scale(1.3);
    margin-right: 30px;
  }
  .navb .nav-list li{
    transform: scale(2.3);
  }
  .navb .nav-list a{
    font-size: 5px;
  }
  .card1 img{
    transform: scale(.8);
  }
  .card1-content{
    margin-top: 14px !important;
  }
  .card1-content span {
    font-size: 24px !important;
  }
  .card1-content p{
    font-size: 11px !important;
    padding-right: 0 !important;
    padding-left: 0 !important;

  }
  .inside-card2 p{
    font-size: 10px !important;
    margin-top: -20px;
  }
}


/* media queries starts here */

@media(max-width: 768px){
  
  .header_admin{
    margin: auto;
    margin-left: 24%;
  }
 #menu1{
   display: none !important;
 }
 #navbar-menu{
   display: block !important;
 }
  #mainbox, #closebtn{
    display: block !important;
    position: absolute;
    top: 118.5px;
    right: 12%;
    font-weight: 900;
    font-size: 30px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color:  #0CA678;
    z-index: 99;
    cursor: pointer;
  }
  #closebtn{
    top: 100px;
    right: 12%;
    z-index: 990;
  }
  #closebtn:active{
    transform: rotate(90deg);
    transition: .2s;
  }
  #navbar-menu .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    height: 110vh;
    width: 100%;
    margin: 0 auto !important;
    z-index: 999 !important;
    display: block;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transform: translateX(-100%);
    transition: all .6s;
  }
  #navbar-menu .nav-list ul {
  display: block;
  margin-left: 0px;
  justify-content: inherit;
  margin-top: 25vh;
  transition: all .6s;
}
#navbar-menu .nav-list li{
  display: block;
 padding: 0 !important;
  margin-top: 40px !important;
  transition: all .6s;
}
#navbar-menu .nav-list li a{
  background-color: rgb(255, 255, 255);
  line-height: 24px;
  text-align: center;
  font-size: 24px;
}
.text-container .text-heading{
  font-size: 48px;
}
  #team{
  margin-top: 410px !important;
  }
}
@media(max-width: 426px){
  #section2 .card-uper1{
    margin-top: 250px;
  }
  .text-container .text-heading{
    font-size: 30px;
  }
}

.header2{
  position: relative;
  z-index: 11;
}
 .card-info{
   position: relative;
   z-index: 11;
 }






